{% extends "base_generic.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                    <form method="post" action="{% url 'login' %}">
                        {% if form.errors %}<p>Your username and password didn't match. Please try again.</p>{% endif %}
                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>
                                    Your account doesn't have access to this page. To proceed,
                                    please login with an account that has access.
                                </p>
                            {% else %}
                                <p>Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-outline mb-3">
                            <label for="id_username" class="form-label">Username</label>
                            <input type="text"
                                   class="form-control"
                                   name="username"
                                   autofocus
                                   autocapitalize="none"
                                   autocomplete="username"
                                   maxlength="150"
                                   required
                                   id="id_username">
                        </div>
                        <div class="form-outline mb-3">
                            <label for="id_password" class="form-label">Password</label>
                            <input type="password"
                                   class="form-control"
                                   name="password"
                                   autocomplete="current-password"
                                   required
                                   id="id_password">
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold"
                                    type="submit">Login</button>
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                        {# Assumes you setup the password_reset view in your URLconf #}
                        <p>
                            <a href="{% url 'authentication:signup' %}">Sign up</a>
                            {% comment %} | <a href="{% url 'password_reset' %}">Lost password?</a> {% endcomment %}
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
