<!-- email template layout -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="color-scheme" content="light">
    <meta name="supported-color-schemes" content="light">
    <!-- css email -->
    {% block head_styles %}
    {% endblock head_styles %}
    <!-- end css -->
  </head>
  <!-- hmtl body -->
  <body>
    <!-- layout header -->
    {% block header_content %}
    {% endblock header_content %}
    <!-- end layout header -->
    <!-- content -->
    {% block body_content %}
    {% endblock body_content %}
    <!-- end content -->
    <!-- layout footer -->
    {% block footer_content %}
    {% endblock footer_content %}
    <!-- end layout footer -->
  </body>
</html>
